<!--Carousel Start-->
<div id="home" style="height:115vh">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="/assets/images/img1.jpg">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/assets/images/img2.jpg">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/assets/images/img3.jpg">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/assets/images/img4.jpg">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/assets/images/img5.jpg">
      </div>
    </div>
  </div>
</div>
<!--Carousel End-->


<!--About us Start-->
<section style="padding-top:160px; height:95vh;" id="about">
  <div class="container">

    <header class="section-header">
      <h2>About Us</h2>
      <p>Since its inception in 2012, Nykaa has quickly emerged as India’s largest omnichannel beauty destination with
        millions of happy customers across the country.</p>
    </header>

    <div class="row about-container">
      <div class="col-lg-6 content order-lg-1 order-2">
        <p>
          From bringing you your favorite brands and keeping you up-to-date with the latest beauty trends, expert advice
          and videos, to more than 68 Luxe and On-Trend Stores, an ever growing online community for beauty buffs
        </p>

        <div class="icon-box wow fadeInUp">
          <div class="icon"><i class="fa fa-shopping-bag"></i></div>
          <h4 class="title"><a href="">Comfort</a></h4>
          <p class="description">Derived from the Sanskrit word ‘Nayaka’ meaning actress or one in the spotlight</p>
        </div>

        <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
          <div class="icon"><i class="fa fa-photo"></i></div>
          <h4 class="title"><a href="">ALways Ready</a></h4>
          <p class="description"> Nykaa is all about celebrating the star in each woman, and being her confidante and
            companion </p>
        </div>

        <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
          <div class="icon"><i class="fa fa-bar-chart"></i></div>
          <h4 class="title"><a href="">Beauty with passion</a></h4>
          <p class="description">Nykaa is truly passionate about catering to your every beauty and wellness need.
            Because after all, Your Beauty is Our Passion</p>
        </div>

      </div>

      <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp">
        <img src="/assets/images/img6.jpg" class="img-fluid" alt="">
      </div>

    </div>
  </div>
</section>
<!--About us End -->


<!--Contact Us Start-->
<section id="contact">
  <div class="container-fluid">

    <div class="section-header">
      <h3>Contact Us</h3>
    </div>

    <div class="row wow fadeInUp">
      <div class="col-lg-6">
        <div class="map mb-4 mb-lg-0">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621"
            frameborder="0" style="border:0; width: 100%; height: 312px;" allowfullscreen></iframe>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="row">
          <div class="col-md-5 info">
            <i class="ion-ios-location-outline"></i>
            <p>A108 Adam Street, NY 535022</p>
          </div>
          <div class="col-md-4 info">
            <i class="ion-ios-email-outline"></i>
            <p>info@example.com</p>
          </div>
          <div class="col-md-3 info">
            <i class="ion-ios-telephone-outline"></i>
            <p>+1 5589 55488 55</p>
          </div>
        </div>

        <div class="form">
          <div id="sendmessage">Your message has been sent. Thank you!</div>
          <div id="errormessage"></div>
          <form action="" method="post" role="form" class="contactForm">
            <div class="form-row">
              <div class="form-group col-lg-6">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                  data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
              </div>
              <div class="form-group col-lg-6">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                  data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
                data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="message" rows="5" data-rule="required"
                data-msg="Please write something for us" placeholder="Message"></textarea>
              <div class="validation"></div>
            </div>
            <div class="text-center"><button type="submit" title="Send Message">Send Message</button></div>
          </form>
        </div>
      </div>

    </div>

  </div>
</section>
<!--Contact us End-->
